.titulo {
  font-size: 5.8rem;
  font-weight: 500;
  color: #363940;
  text-align: center;
  margin-bottom: 2.2rem;
}

@media screen and (max-width: 588px) {
  .titulo {
    text-align: center;
  }
}
