.descontaco {
  background-color: #6E38F7;
  color: #fff;
  padding: 4px 17px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: 15px;
}
