.divTitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 0 3rem 0;
}

.subTitulo {
  font-size: 2.4rem;
  font-weight: 400;
  color: #95a1bb;
  text-align: center;
  max-width: 56rem;
}

.bgCard {
  background-color: #f6f7fa;
  border-radius: 10px;
  padding: 3rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.categoria {
  color: #363940;
  font-weight: 500;
  font-size: 2rem;
}

.preco {
  color: #0000ff;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.32rem;
}
