.mostSearchedWordsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27rem 0 21rem 0;
  width: 100%;

  h1 {
    font-size: 5.8rem;
    font-weight: 500;
    color: #363940;
    text-align: center;
    margin-bottom: 6.2rem;
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    div {
      display: flex;
      flex-direction: column;

      span {
        font-size: 2rem;
        font-weight: 400;
        line-height: 5rem;
        color: #95a1bb;
      }

      span + span {
        border-top: 1px dashed #707070;
      }
    }
  }
}
