.divDiarias {
  margin-top: 100px;
}

.subTitulo {
  text-align: center;
  color: #95a1bb;
  font-size: 16px;
  width: 350px;
}

.cardDiarias {
  background-color: #f6f7fa;
  padding: 40px;
  border-radius: 10px;
  position: relative;
}

.produto {
  color: #363940;
  margin-top: 30px;
  height: 30px;
  font-size: 16px;
}

.preco {
  color: #0000ff;
  letter-spacing: 0.1rem;
  font-weight: 500;
  margin-top: 30px;
}
