.contato p{
    font-size: 22px;
    color: #95A1BB!important;
    font-style: normal;
    font-family: 'Rubik', sans-serif!important;
}

.section1{
    margin-right: 60px;
}

.inputNome{
    border-radius: 8px;
    border-width: 2px;
    padding: 5px;
    width: 350px;
    margin-right: 10px;
    font-family: 'Rubik', sans-serif!important;
    font-size: 18px;
    border-color: #D9DEEA;
    color: #95A1BB;
}

.inputTelefone{
    border-radius: 8px;
    border-width: 2px;
    padding: 5px;
    width: 350px;
    font-family: 'Rubik', sans-serif!important;
    font-size: 18px;
    border-color: #D9DEEA;
    color: #95A1BB;
}

.inputEmail{
    border-radius: 8px;
    border-width: 2px;
    padding: 5px;
    width: 350px;
    margin-right: 10px;
    font-family: 'Rubik', sans-serif!important;
    font-size: 18px;
    border-color: #D9DEEA;
    margin-top: 10px;
    color: #95A1BB;
}

.inputAssunto{
    border-radius: 8px;
    border-width: 2px;
    padding: 5px;
    width: 350px;
    font-family: 'Rubik', sans-serif!important;
    font-size: 18px;
    border-color: #D9DEEA;
    margin-top: 10px;
    color: #95A1BB;
}

.inputMensagem{
    border-radius: 8px;
    border-width: 2px;
    padding: 5px;
    width: 710px;
    height: 200px;
    font-family: 'Rubik', sans-serif!important;
    font-size: 18px;
    border-color: #D9DEEA;
    margin-top: 10px;
    color: #95A1BB;
    margin-bottom: 20px;
}

.botaoEnviar{
    width: 150px;
    margin: auto;
    border-radius: 15px;
    background-color: #25E484;
    border-color: #25E484;
    font-family: 'Rubik', sans-serif!important;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px;
}