.divImg {
  background-color: #F6F7FA;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  margin: 5rem 0 0 0;
}

.divLinks {
  background-color: #F6F7FA;
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 4rem;
  max-height: 42rem;
  // width: 20rem;
}

.links {
  font-size: 1.6rem;
  color: #363940;
  font-weight: 500;
}

.links:hover {
  color: #00ff00;
}

.separadorLinks {
  margin: 2rem 0;
}

.divPedidos {
  margin: 3rem 0;
  padding: 0 3rem;
  animation: animacao .5s forwards;
}

@keyframes animacao {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.pedidos {
  color: #363940;
  font-size: 2rem;
}

.divProgresso {
  border: 1px solid #CAD1E1;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  padding: 3rem 1rem;
}

.descricaoVendido {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-right: 1px solid #CAD1E1;
}

@media screen and (max-width: 992px) {
  .divProgresso {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .descricaoVendido {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: none;
  }

  .resumoCompra {
    border-left: none !important;
  }

  .divLinks {
    padding: 2rem;
  }

  .divProdutoVendido {
    margin: 0 !important;
  }
}

@media screen and(max-width: 768px) {
  .divPedidos {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 476px) {
  .divProgressoProduto {
    justify-content: center;
  }
}

.divProgressoProduto{
  display: flex;
  flex-wrap: wrap;
}

.divProdutoVendido {
  background-color: #F6F7FA;
  border-radius: 1rem;
  width: 8rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 0;
}

.produto {
  color: #363940;
  font-size: 1.6rem;
  width: 20rem;
}

.vendidoPor {
  color: #95A1BB;
  font-size: 1.2rem;

  span {
    color: #6E38F7;
  }
}

.tamanho {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;

  span {
    color: #95A1BB;
    font-weight: 500;
  }
}

.cor {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;

  span {
    color: #95A1BB;
    font-weight: 500;
  }
}

.divStatus {
  margin: 0 0.6rem;
}

.divSubStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgStatus {
  border: 1px solid #CAD1E1;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pedido {
  color: #95A1BB;
  font-size: 1.2rem;
}

.resumoCompra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #CAD1E1;
  padding: 0 2rem;
}

.tituloResumo {
  color: #363940;
  font-size: 1.6rem;
}

.numeroPedido, .dataPedido, .valorTotal  {
  color: #95A1BB;
  font-size: 1.4rem;
  font-weight: 500;
}

.divInputs {
  border: 1px solid #CAD1E1;
  border-radius: 1rem;
  padding: 5rem;
}

.inputsForm {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;

  input {
    border: 1px solid #D9DEEA;
    width: 28rem;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 1.3rem 0;
  }

  select {
    margin: 1.3rem 0;
    width: 28rem;
    padding: 0.8rem;
    border-radius: 1rem;
    border: 1px solid #D9DEEA;
    background-color: #Fff;
  }
}

.divRadio {
  display: flex;
  align-items: center;
  width: 28rem;

  input {
    width: 3rem;
  }
}

.divEndereco {
  border: 1px solid #D9DEEA;
  border-radius: 1rem;
  width: 30rem;
  padding: 2rem;
}

.nome {
  color: #363940;
  font-size: 1.6rem;
}

.titulo {
  color: #363940;
  font-size: 2rem;
  margin: 2rem 0;
}

.endereco {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  color: #95A1BB;
  font-size: 1.2rem;
  font-family: 'Kanit';
}

.btnEndereco {
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
  color: #Fff;
  background-color: #95A1BB;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  width: 20rem;
  padding: 1rem;
  margin: 3rem 0 0 0;
}

.btnEndereco:hover {
  transform: scale(1.1);
}

.imgTabela {
  width: 5rem;
  height: 5rem;
}

.tituloTabela {
  font-size: 1.6rem;
  color: #95A1BB;
  font-weight: 500;
}

.descricaoTabela {
  font-size: 1.4rem;
  color: #95A1BB;
  font-weight: 500;
  vertical-align: middle;
}

.divImgTabela {
  background-color: #F6F7FA;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divSeparador {
  border-left: 1px solid #CAD1E1;
}

.checkboxTexto {
  font-size: 1.6rem !important;
}

.checkboxPreferencias {
  width: 3rem !important;
}

.selectUF{
  margin: 1.3rem 0;
}
