.button {
  padding: 3.2rem 12.4rem;
  margin-top: 3.7rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50.8rem;

  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;

  border: 1px solid #d9deea;
  border-radius: 18px;
  background: #eff3fd;
}
