.imagemhistoria{
    background-color: #F6F7FA;
    border-radius: 10px;
}

.sobrenos{
    margin-top: 60px;
}

.sobrenos p{
    font-size: 18px;
    color: #363940!important;
    font-style: normal;
    font-family: 'Rubik', sans-serif!important;
}

.historiatitulo h2{
    font-size: 36px;
    color: #363940!important;
    font-family: 'Rubik', sans-serif!important;
    font-style: normal;
}

.quatroimagens{
    margin-top: 60px;
}

.imagemsection3{
    background-color: #F6F7FA;
    border-radius: 10px;
}

.section4{
    margin-top: 60px;
}

.section4 p{
    font-size: 18px;
    color: #363940!important;
    font-style: normal;
    font-family: 'Rubik', sans-serif!important;
}

.colunasection4{
    margin-left: 60px;
}

.imagemsection4{
    background-color: #F6F7FA;
    border-radius: 10px;
}