.parceiros {
  margin: 100px 0 0 0;
  padding: 50px 0;
}

.divParceiro {
  background-color: #F6F7FA;
  border-radius: 10px;
  width: 180px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
