.customInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  position: relative;

  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #363940;
    margin-bottom: 1.8rem;
  }

  input {
    width: 100%;

    border: 1px solid #d9deea;
    border-radius: 18px;

    padding: 0 2.4rem;
    height: 6rem;

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;

    &.erro {
      border-color: #e00070;
    }

    &::placeholder {
      color: #95a1bb;
    }
  }

  strong {
    display: flex;
    align-items: center;

    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: #d9006c;

    position: absolute;

    height: 6rem;

    right: 1.5rem;
    bottom: 0;
  }
}
