.divCall {
  margin: 100px 0 0 0;
}

.call {
  color: #95A1BB;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 14px;
}

.imgCall {
  width: 75%;
}

.btnApp {
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 140px;
  margin: 0 0 0 10px;
}
