.divDestaque {
    margin-top: 100px;
}

.bgDestaque {
    background-color: #F6F7FA;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
}

.subTitulo {
    color: #95A1BB;
    width: 350px;
}

.produto {
    color: #363940;
    font-weight: 500;
}

.preco {
    color: #0000FF;
    font-weight: 500;
    letter-spacing: 0.1rem;
}