.comovender h2{
    font-size: 36px;
    color: #363940!important;
    font-family: 'Rubik', sans-serif!important;
    font-style: normal;
    margin-bottom: 40px;
}

.comovender p{
    font-size: 18px;
    color: #363940!important;
    font-family: 'Rubik', sans-serif!important;
    font-style: normal;
}

.comovender h3{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif!important;
}

.section2{
    margin-bottom: 60px;
}

.imagemsection3{
    background-color: #F6F7FA;
    border-radius: 15px;
}

.section4{
    margin-top: 60px;
}