.bordaNav {
  border-bottom: 1px solid #cad1e1;
}

.limitado {
  display: flex;
}

.aproveite {
  background-color: #cad1e1;
  color: #95a1bb;
  font-size: 1.4rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aproveite p {
  padding: 5px 0;
  margin: 0;
}

@media screen and (max-width: 810px) {
  .aproveite {
    display: none;
  }

  .linksNav {
    width: 100% !important;
    justify-content: center;
  }
}

.linksNav {
  background-color: #eaedf5;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  width: 30%;
}

.linksNav li {
  cursor: pointer;
  padding: 0.5px 0;
  margin: 0 0.7rem 0 1rem;
  font-size: 1.2rem;
  color: #95a1bb;
  text-transform: uppercase;
}

.linksNav li:hover,
.linksNav li:focus {
  color: #00ff00;
}

.divNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .divNav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .divBuscar {
    width: 45rem !important;
  }
}

@media screen and (max-width: 991px) {
  .gps {
    display: none !important;
  }
}

@media screen and (max-width: 476px) {
  .divBuscar {
    width: 25rem !important;
    margin: 0;
  }

  .inputBuscar {
    width: 250px !important;
  }
}

.divNav li {
  list-style: none;
  margin: 1rem;
}

.gps {
  display: flex;
  align-items: center;
  width: 20rem;
}

.gps:hover {
  border-radius: 10px;
  border: 1px solid #95a1bb;
}

.gps p {
  color: #95a1bb;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  line-height: 1rem;
  margin-left: 0.7rem;
  margin-bottom: 0;
}

.divBuscar {
  border: none;
  border-radius: 10px;
  width: 67rem;
  background-color: #f6f7fa;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputBuscar {
  border: none;
  background-color: #f6f7fa;
  padding: 0.7rem;
  width: 50rem;
}

.inputBuscar::-webkit-input-placeholder {
  color: #95a1bb;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
}

.entrar {
  display: flex;
  align-items: center;
  color: #95a1bb;
}

.entrar a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #95a1bb;
  margin-left: 1rem;
  padding: 0 6rem;
  border-bottom: 2px solid #cad1e1;
  width: 8rem;

  i {
    color: #CAD1E1;
  }
}

.entrar a:hover {
  color: #00ff00;
  border-bottom: 2px solid #00ff00;
}

.categorias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0 0 2rem 0;
}

.categorias li a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
}

.categorias li a:hover {
  color: #00ff00;
}

.voitPro {
  border-bottom: 2px solid #00ff00;
  color: #000;
}

.btnVender {
  background-color: #00ff00;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.16rem;
  border-radius: 7px;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  width: 13rem;
  padding: 1rem;
}

.btnVender:hover {
  transform: scale(1.1);
}

.drop {
  display: none;
  position: absolute;
  z-index: 200;
  padding: 2rem;
  border: 1px solid #CAD1E1;
  background-color: #fff;
  border-radius: 1rem;

  span {
    color: #000;
  }

  li {
    list-style: none;
    margin: 1rem 0;
  }

  ul {
    padding: 1rem;
    min-width: 25rem;
  }

  a {
    color: #95A1BB;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 15rem;;
    background-color: #F6F7FA;
    border-radius: 1rem;
    margin: 2rem;
  }

  img {
    width: 10rem;
    height: 10rem;
  }
}

.dropBtn:hover .drop {
  display: flex;
  animation: show-up .5s forwards;
}

// @media screen and (max-width: 768px)

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.dropBtn {
  position: relative;
  background-color: #fff;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.32rem;
  color: #000;
  cursor: pointer;
}

.dropBtn:hover,
.dropBtn:focus {
  background-color: #fff;
  color: #00ff00;
}

.dropBtn::after {
  display: none;
}

.dropNav {
  display: flex;
  width: max-content;
}

.divDropNav {
  color: #95a1bb;
}

.dropImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 15rem;
  background-color: #f6f7fa;
  border-radius: 10px;
}
