.customDropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #363940;
    margin-bottom: 1.8rem;
  }

  .buttonDropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0;

    width: 100%;
    height: 6rem;
    border: 1px solid #d9deea;
    border-radius: 18px;

    position: relative;

    cursor: pointer;

    h2 {
      font-family: 'Kanit', sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      color: #363940;

      display: flex;
      align-items: center;
      justify-content: space-between;

      margin: 0;

      width: 100%;
      height: 6rem;

      padding: 0 2.4rem;
    }

    .optionsContainer {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0;
      margin: 0;

      width: calc(100% + 2px);

      background: #ffffff;

      border: 1px solid #d9deea;
      border-top: none;
      border-radius: 0 0 18px 18px;

      position: absolute;
      z-index: 10;
      top: 100%;

      max-height: 30rem;
      overflow-y: scroll;

      .optionsContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin: 0;

        .options {
          width: 100%;
          height: 6rem;
          margin: 0;
          padding: 0 2.4rem;

          display: flex;
          align-items: center;

          font-family: 'Kanit', sans-serif;
          font-size: 1.8rem;
          font-weight: 400;
          color: #363940;

          transition: filter 0.2s;
          cursor: pointer;
          background: #ffffff;

          &:hover {
            filter: brightness(0.8);
          }
        }

        .optionGroup {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0;

          > strong {
            font-family: 'Kanit', sans-serif;
            font-size: 1.8rem;
            font-weight: 400;
            color: #363940;
            height: 4rem;
            padding-left: 2.4rem;

            display: flex;
            align-items: center;
            width: 100%;

            cursor: auto;
          }

          > div {
            font-family: 'Kanit', sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            color: #5a5d64;
            height: 4rem;
            padding-left: 3rem;
            cursor: pointer;

            transition: filter 0.2s;
            background: #ffffff;

            &:hover {
              filter: brightness(0.8);
            }
          }
        }
      }
    }
  }
}

.arrow {
  transition: all 0.2s;
}
