.bgCarousel {
  background-color: #F6F7FA;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.imgCarousel {
  width: 20rem;
  height: 20rem;
}
