.bgFooter {
  margin: 10rem 0 0 0;
  padding: 6rem 0 2rem 0;
  background-color: #000;
}

.divInputs {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  margin: 3rem 0 0 0;
}

@media screen and(max-width: 576px) {
  .divInputs {
    flex-direction: column;
    align-items: center;
  }

  .divInputs input {
    margin: 10px 0;
  }
}

.desconto {
  text-align: center;
  color: #cad1e1;
  font-size: 2.2rem;
}

.inputFooter {
  border: 1px solid #cad1e1;
  border-radius: 10px;
  padding: 0.6rem;
  background-color: transparent;
  width: 20rem;
  font-size: 1.4rem;
}

.btnEnviar {
  border: none;
  border-radius: 10px;
  background-color: #6e38f7;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.6rem;
  width: 8rem;
  letter-spacing: 0.16rem;
}

.separador {
  margin: 5rem 0 8rem 0;
  border: 1px solid #95a1bb;
}

.divCarta,
.divIcons {
  display: flex;
  align-items: center;
  color: #fff;
}

.contato {
  margin: 0 0 0 1rem;
  font-size: 1.4rem;
}

.tituloFooter {
  color: #cad1e1;
  font-size: 2.4rem;
}

.textoFooter {
  color: #95a1bb;
  font-size: 1.2rem;
}

.linksFooter {
  color: #95a1bb;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  line-height: 2.7rem;
}

.linksFooter:hover {
  color: #00ff00;
}

.btnFooterChamar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ff00;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  width: 23rem;
  padding: 1rem 0;
  letter-spacing: 0.32rem;

  i {
    color: #fff;
  }
}

.separarFooter {
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
}

@media screen and(max-width: 992px) {
  .separarFooter {
    margin: 0;
  }
  .separarFooter2 {
    margin: 0 !important;
  }
}

.separarFooter2 {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.copyright {
  margin: 8rem 0 0 0;
  font-size: 1rem;
  color: #95a1bb;
}
