.bgFooter {
  margin: 100px 0 0 0;
  padding: 60px 0 20px 0;
  background-color: #000;
}

.divInputs {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 30px 0 0 0;
}

@media screen and(max-width: 576px) {
  .divInputs {
    flex-direction: column;
    align-items: center;
  }

  .divInputs input {
    margin: 10px 0;
  }
}

.desconto {
  text-align: center;
  color: #CAD1E1;
  font-size: 22px;
}

.inputFooter {
  border: 1px solid #CAD1E1;
  border-radius: 10px;
  padding: 6px;
  background-color: transparent;
  width: 200px;
  font-size: 14px;
}

.btnEnviar {
  border: none;
  border-radius: 10px;
  background-color: #6E38F7;
  color: #fff;
  font-size: 14px;
  padding: 6px;
  width: 80px;
  letter-spacing: 0.1rem;
}

.separador {
  margin: 50px 0 80px 0;
  border: 1px solid #95A1BB;
}

.divCarta, .divIcons {
  display: flex;
  align-items: center;
  color: #fff;
}

.contato {
  margin: 0 0 0 10px;
  font-size: 14px;
}

.tituloFooter {
  color: #CAD1E1;
  font-size: 24px;
}

.textoFooter {
  color: #95A1BB;
  font-size: 12px;
}

.linksFooter {
  color: #95A1BB;
  font-size: 12px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  line-height: 1.7rem;
}

.linksFooter:hover {
  color: #00ff00;
}

.btnFooterChamar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ff00;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  width: 230px;
  padding: 10px 0;
  letter-spacing: 0.2rem;

  i {
    color: #fff;
  }
}

.separarFooter {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

@media screen and(max-width: 992px) {
  .separarFooter {
    margin: 0;
  }
  .separarFooter2 {
    margin: 0 !important;
  }
}

.separarFooter2 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.copyright {
  margin: 80px 0 0 0;
  font-size: 10px;
  color: #95A1BB;
}
