.productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 3rem 3.7rem 2.6rem 2.8rem;
  border: 1px solid #cad1e1;
  border-radius: 18px;
  max-height: 27.6rem;
  gap: 1.2rem;
}

.productContainer header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.productContainer header .productImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5.3rem 7.2rem;
  background: #f6f7fa;
  border-radius: 18px;
}

.productContainer header .productImage img {
  width: 11.2rem;
  height: 6.1rem;
}

.productContainer header .itemDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30rem;
  margin-left: 3.3rem;
}

.productContainer header .itemDescription h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0;
}

.productContainer header .itemDescription h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #95a1bb;
  margin-bottom: 1.3rem;
}

.productContainer header .itemDescription h2 strong {
  color: #6e38f7;
}

.productContainer header .itemDescription span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #95a1bb;
}

.productContainer header .itemDescription span strong {
  color: #000000;
}

.productContainer header .itemDescription span:last-child {
  margin-top: 1.6rem;
}

.productContainer header > button {
  border: 0;
  margin-left: auto;
}

.productContainer footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productContainer footer .itemQuantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productContainer footer .itemQuantity strong {
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  margin-right: 2.6rem;
}

.productContainer footer .itemQuantity div {
  margin: 0 1.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cad1e1;
  border: 1px solid #cad1e1;
  border-radius: 8px;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productContainer footer .itemQuantity button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2px;
  background: #fff;
}

.productContainer footer .productPrice {
  font-size: 1.8rem;
  font-weight: 400;
  color: #95a1bb;
  text-decoration: line-through;
}

.productContainer footer .productPrice strong {
  color: #000000;
  text-decoration: none;
  margin-left: 1.8rem;
}
/*# sourceMappingURL=styles.module.css.map */