.divEsporte {
  margin: 100px 0 0 0;
}

.subTitulo {
  text-align: center;
  color: #95A1BB;
  font-size: 16px;
  width: 350px;
}

.bgImagem {
  background-color: #F6F7FA;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.produto {
  color: #363940;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0 0 0;
}

.preco {
  color: #0000FF;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
