.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin: 7rem 0 8rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 0 17rem;
  margin-bottom: 18rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 10.6rem;

  background: #f6f7fa;
  border-radius: 18px;

  padding-left: 6.7rem;

  h1 {
    font-size: 3.6rem;
    font-family: 500;
    color: #363940;
    margin: 0;
  }

  img {
    width: 11.3rem;
    margin-right: 31.34rem;
  }
}

.heading {
  margin: 7.8rem 0 6rem 0;

  font-size: 3.6rem;
  font-weight: 500;
  color: #363940;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, auto));
    grid-column-gap: 2.8rem;
    grid-template-rows: repeat(auto-fit, minmax(20.8rem, auto));
    grid-row-gap: 7rem;
    width: 100%;

    padding: 0;
    margin: 0;

    li {
      list-style: none;

      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        width: 24rem;
        height: 16rem;
        background: #f6f7fa;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      strong {
        font-size: 2.4rem;
        font-weight: 500;
        color: #95a1bb;
      }
    }
  }
}

.arrow {
  position: absolute;
  left: 17rem;

  border: none;
  border-radius: 18px;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
